body{

	background-image: url(https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=900&t=st=1682012790~exp=1682013390~hmac=0ffcb78ead103940480e0e6cfdf976ac61ed7185be889d8a31f7dce0b4f279c3);
	background-size: cover ;
}
p{

	color: black;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
.card{
	max-width: 1100px;
	margin:  0 auto;
	text-align: center;
	padding: 30px;

}
.card h1 {
	font-size: 40px;
	margin: 0 0 30px 0 ;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.service{
	display: 100px 100px;
	align-items: center;

}
.content{
	display: flex;
	flex-wrap: wrap;
	flex:1;
	margin: 20px;
	padding: 20px;
	border: 2px solid black;
	border-radius:4px;
	transition: all .3s ease;

}
.content > *{
	flex: 1 1 100%;

}
.content:hover a{
	color: white;
}
.content:hover a{

	border-color:white ;
	background: white;
}
.content-1:hover{
	border-color:#1DA1F2;
	background: #1DA1F2;
}
.content-1:hover a{
	color:#1DA1F2;
	
}
.content-6:hover{
	border-color:#1DA1F2;
	background: #1DA1F2;
}
.content-6:hover a{
	color:#1DA1F2;
	
}
.content-5:hover{
	border-color:#1DA1F2;
	background: #1DA1F2;
}
.content-5:hover a{
	color:#1DA1F2;
	
}
.content-4:hover{
	border-color:#1DA1F2;
	background: #1DA1F2;
}
.content-4:hover a{
	color:#1DA1F2;
	
}
.content-2:hover{
	border-color:#1DA1F2;
	background: #1DA1F2;
}
.content-2:hover a{
	color:#1DA1F2;
	
}
.content-3:hover{
	border-color:#1DA1F2;
	background: #1DA1F2;
}
.content-3:hover a{
	color:#1DA1F2;
	
}
.content h2{
	font-size: 30px;
	margin: 16px 0;
	letter-spacing: 1px;
	text-transform: uppercase;

}
.content p{
	font-size: 17px;
	font-family: 'Poppins',sans-serif;
	
}
.content a{
	margin: 22px 0;
	background: black ;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid black;
	padding: 15px 0;
	border-radius: 25px;
	transition: .3s ease ;
}
.content a:hover{
		border-radius: 4px;


}
@media (max-width :900px){
	.service{
		display: flex;
		flex-direction: column;
	}
}